body {
    cursor : none;
    height : 100vh;
    overflow : hidden;
}

ul {
    position : fixed;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    width : 90vw; /*21%*/
    padding-left : 5vw;
    font-size : 110%;
}

/*.rainbow-text {
    background-image: linear-gradient(to right,  indigo, blue, green, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.685);
  }*/

.my-nav {
    justify-content: center;
    align-content: center;
    text-align : center;
    height : 55px; 
    position : fixed; 
    top : 0; 
    left : 0; 
    right : 0; 
    width : 100%; 
    border-top : 3px solid white; 
    border-bottom : 3px solid white;
}

.a-nav:link, .a-nav:visited {
    cursor : none;
    text-decoration : none;
    color : black;
    font-family : "Rubik Beastly", cursive;
}

.a-nav:hover, .a-nav:active {
    text-shadow: #3b1841 0px 0 10px;
    color : #c2fcad;
}

.name {
    font-family: 'Libre Baskerville', serif;
    font-size : 9vw;
    padding-top : 105px;
    font-style: bold;
    text-shadow: #3b1841 -2px 2px 10px;
}

.cursor {
    width : 40px;
    height : 40px;
    cursor : none;
    /*border :  1px dashed black;*/
    border-radius : 50%;
    position : absolute;
    animation : anim1 1s infinite alternate;
    box-shadow: #3b1841 -3px 3px 10px;;
}

.cursor::before {
    content : '';
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width : 5px;
    height : 5px;
    background : rgba(220, 20, 60, 0);
    border-radius: 50%;
}

.expand {
    animation: anim2 .5s;
    /*background : crimson;*/
    border: 1px solid #3b1841;
    box-shadow: #3b1841 -3 3 10px;
}

@keyframes anim1 {
    from {
        transform : scale(0.9) rotate(0deg);
    }
    to {
        transform : scale(1.1) rotate(90deg);
    }
}

@keyframes anim2 {
    0%{
        transform: scale(5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity : 0;
    }
}