#color-blue {
    background-color : skyblue;
}

.jumbotron-hero {
    text-align : center;
    height: 500px;
    background-image: url("./61e03acbbcf67.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top : 0;
    border-radius: 0 0 5px 5px;
  }

  .big-title {
      margin-top : 70px;
      margin-bottom : 40px;
  }

  .logo {
    width:40%; 
    align-content : center;
  }